{% extends 'base.html.twig' %}

{% block title %}
    Création d'un parcours
{% endblock %}

{% block body %}

    <div class="container  background" style="min-height: 97vh;">

        {{ form_start(form, { 'attr': {'class': 'form'} }) }}
        <span class="box">Création d'un parcours</span>
        <div class="col-md-2">{{ form_row(form.nomParcours, {'label':'Titre du parcours','attr': {'class': 'input'} }) }}</div>
        <div class="col-md-5">{{ form_row(form.descriptionParcours, {'label':'Description (500 caractères max.)','attr': {'class': 'input'} }) }}</div>
        <div class="col-md-2">{{ form_row(form.distance, {'label':'Longueur (en km)','attr': {'class': 'input'} }) }}</div>
        <div class="col-md-2">{{ form_row(form.duree, {'label':'Durée (en min)','attr': {'class': 'input'} }) }}</div>
        <div class="col-md-2">{{ form_row(form.difficulte, {'label':'Difficulté','attr': {'class': 'input'} }) }}</div>
        <div class="col-md-2">FICHIER GPX</div>
        <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>

        {{ form_end(form) }}

    </div>
    <span class="fixed_background"></span>


{% endblock %}

