{% extends 'base.html.twig' %}

{% block title %}
Inscription
{% endblock %}

{% block body %}

    <div class="container2  background" style="min-height: 97vh;">
        <span class="box ml-4">Inscription</span>
    {{ form_start(form) }}

        <div class="card m-5 bg-light">
            <div class="card-body m-auto text-center" style="width: 16rem">

                <p class="card-text text-center" >{{ form_row(form.login, {'label':'Login' }) }}</p>
                <p class="card-text">{{ form_row(form.mdp, {'label':'Mot de passe'}) }}</p>

                <p class="card-text">{{ form_row(form.nomUtilisateur, {'label':'Nom' }) }}</p>
                <p class="card-text">{{ form_row(form.prenomUtilisateur, {'label':'Prénom' }) }}</p>

            </div>
        </div>
        <button class="btn btn-success" style="display: block;margin: auto">{{ button|default('Enregistrer') }}</button>

        {{ form_end(form) }}

    </div>

    <span class="fixed_background"></span>

{% endblock %}

