<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CatchPoint{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        {% block stylesheets %}{% endblock %}
    </head>

    <div class="sticky">
        <img class ="deco" src="res/map_pattern.png" style="height: 71px;position: absolute">
        <div class="title">
            <img src="res/logo.png" style="width: 60px;height: 60px;margin-right: 5px">
            CatchPoint
            {% if user is defined %}
                <a href="{{ path('home') }}"><button class="b-inscription btn btn-outline-success mr-my-sm-0" type="submit">Se déconnecter</button></a>
            {% else %}
            <a href="{{ path('inscription') }}"><button class="b-inscription btn btn-outline-success mr-my-sm-0" type="submit">S'inscrire</button></a>
            {% endif %}
        </div>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e0e0e0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'home' %} active {% endif %}" href="{{ path('home') }}">Accueil<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'rules' %} active {% endif %}" href="{{ path('home.rules') }}">Règles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'history' %} active {% endif %}" href="{{ path('home.history') }}">Histoire</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'parcours' %} active {% endif %}" href="{{ path('home.parcours') }}">Parcours<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="log form-inline">
                    {% if user is defined %}
                        <span class="b-inscription"> Bonjour {{ user.login }}</span>
                    {% else %}
                    <input class="form-control mr-sm-2" placeholder="Login">
                    <input class="form-control mr-sm-2" type="password" placeholder="Password">
                        <a href="{{ path('home') }}"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Se connecter</button></a>
                    {% endif %}
                </form>
            </div>
        </nav>
        <div class="bandeau"></div>
    </div>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
